*~
*#
*.fasl
/doc/include
/doc/include-stamp
/doc/wo-graph-functions.aux
/doc/wo-graph-functions.cp
/doc/wo-graph-functions.fn
/doc/wo-graph-functions.fns
/doc/wo-graph-functions.html
/doc/wo-graph-functions.info
/doc/wo-graph-functions.ky
/doc/wo-graph-functions.log
/doc/wo-graph-functions.pdf
/doc/wo-graph-functions.pg
/doc/wo-graph-functions.toc
/doc/wo-graph-functions.tp
/doc/wo-graph-functions.vr
